<section class="ftco-section" style="background-image: url('../../assets/images/custom_images/grey.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url('../../assets/images/custom_images/camera.jpg');">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                            <!-- Login Via Google Phone Number -->
                            <div class="w-100">
                                <div class="example-button-row">
                                    <div class="example-flex-container">
                                        <div class="example-button-container">
                                            
                                            <button class="btn btn-block google-sign-in" (click)="signInWithGoogle()">
                                                <img [src]="'assets/images/general/google.svg'" alt="Google" width="20px" height="20px" />
                                            </button>
                                            <!-- <asl-google-signin-button class="mx-5"></asl-google-signin-button> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- <p class="social-media d-flex justify-content-end">
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-facebook"></span></a>
                                    <a href="#"
                                        class="social-icon d-flex align-items-center justify-content-center"><span
                                            class="fa fa-twitter"></span></a>
                                </p> -->
                            </div>
                        </div>
                        <form [formGroup]="loginForm" class="signin-form">
                            <div class="form-group mb-3">
                                <label class="label" for="name">Username</label>
                                <input type="text" class="form-control" placeholder="Username"
                                    formControlName="username">
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Password"
                                    formControlName="password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                    (click)="onLogin()">LOG IN</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                        </form>
                        <p class="text-center">Not a member? <a data-toggle="tab" routerLink="signup">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>